/*normalize.css*/
*{-webkit-touch-callout:none;}
html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}
body {
  height: 100%;
}
ol,li{list-style:none}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover,
a:visited {
  outline: 0;
  text-decoration: none !important;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*grid 基础样式*/
.grids {
  position: relative;
  overflow: hidden;
}
.grids:before {
    content: " ";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1px solid #D9D9D9;
    color: #D9D9D9;
    transform-origin: 0 0;
    transform: scale(0.5);
}
.grid {
  position: relative;
  float: left;
  padding: 20px 10px;
  width: 33.33333333%;
  box-sizing: border-box;
  text-decoration: none;
}
.grids-small .grid {
  width: 25%;
  padding: 15px 8px;
}
.grid:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #D9D9D9;
  color: #D9D9D9;
  /*transform-origin: 100% 0;*/
  transform: scaleX(0.5);
}
.grid:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  /*-webkit-transform-origin: 0 100%;*/
          /*transform-origin: 0 100%;*/
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.grid:active {
  background-color: #E4E4E4;
}
.grid_icon {
  width: 28px;
  height: 28px;
  margin: 0 auto;
}
.grid_icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.grid_icon + .grid_label {
  margin: 5px 0 0;
}
.grid_label {
  display: block;
  text-align: center;
  color: #000;
  font-size: 14px;
}


/*移动端1px边框上下*/
.ratain-border{
  position: relative;
}
.ratain-border::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.ratain-border::before{
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.ratain-border-bottom,.ratain-border-top{
  position: relative;
}
.ratain-border-bottom::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.ratain-border-right{
  position: relative;
}
.ratain-border-right::after{
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #D9D9D9;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.ratain-border-left{
  position: relative;
}
.ratain-border-left::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  border-left: 1px solid #D9D9D9;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.ratain-box{
  position: relative;
}

.ratain-box img{
  border-radius: 0.16rem;
}

.ratain-box:after {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.5,.5);
  transform: scale(.5,.5);
  border: 1px solid #d9d9d9;
  border-radius: 0.266667rem;
}

.ratain-border-top:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
